handin1/NURSolutionTemplate/__pycache__/matrix_utils.cpython-313.pyc
handin1/NURSolutionTemplate/my_vandermonde_sol_2a.png
handin1/NURSolutionTemplate/my_vandermonde_sol_2b.png
handin1/NURSolutionTemplate/my_vandermonde_sol_2c.png
