handin1/__pycache__
handin1/plots
handin1/*.txt
handin1/pouw.aux
handin1/pouw.log
handin1/pouw.pdf

handin2/__pycache__
handin2/plots
handin2/*.txt
handin2/pouw.aux
handin2/pouw.log
handin2/pouw.pdf

handin3/__pycache__
handin3/plots
handin3/*.txt
handin3/pouw.aux
handin3/pouw.log
handin3/pouw.pdf